body {
  background-color: hotpink;
  color: white;
}

nav a:visited {
  color: hotpink !important;
}

.barbie-ve-filmu {
  margin: 30px;
  color: white;
  text-align: center;
}
.Zajímavosti {
  text-align: center;
  margin: 30px;
}

.obrazekb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-position: bottom 50px;
  margin-top: 0.5cm;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  line-height: 75px;
  padding: 0px 100px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.banner {
  width: 25%;
  height: 25vh;
}

ul.Kinolist {
  list-style-type: none;
}
nav .logo p {
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  text-align: left;
}

nav li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: hotpink;
  text-transform: uppercase;
}

nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: hotpink;
  position: absolute;
  left: 0;
  bottom: +25px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
head {
  color: white;
}
.texta {
  margin-top: 0.5cm;
}
.textb {
  margin-bottom: 1cm;
  text-align: center;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


span {
  background: rgb(80, 176, 255);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

.z1 {
  color: white;
  list-style-type: circle;
}
.Zajímavostiv {
  text-align: center;
  margin-top: 1cm;
}
.opnh {
  margin-left: 1cm;
  margin-bottom: 0.3cm;
}
.z2 {
  color: white;
  list-style-type: initial;
  margin-bottom: 1cm;
}
.xcv {
    margin-left: 1cm;
    margin-bottom: 0.3cm;
    margin-top: 0.3cm;
}

