body {
    background-color: hotpink;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    color: white;
    font-size:xxx-large;
    font-family:'Courier New', Courier, monospace
}

head {
    color: white;
}
nav a:visited {
  color: hotpink !important;
}

.barbie-ve-filmu {
  margin: 30px;
  color: white;
  text-align: center;
}
.Zajímavosti {
  text-align: center;
  margin: 30px;
}

.obrazekb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-position: bottom 50px;
  margin-top: 0.5cm;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  line-height: 75px;
  padding: 0px 100px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.banner {
  width: 25%;
  height: 25vh;
}

ul.Kinolist {
  list-style-type: none;
}
nav .logo p {
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  text-align: left;
}

nav li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: hotpink;
  text-transform: uppercase;
}

nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: hotpink;
  position: absolute;
  left: 0;
  bottom: +25px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
table {
    border-bottom: solid 2px white;
    border-collapse: collapse;
}

head {
  color: white;
}

.texta {
    margin-top: 0.5cm;
}

.textb {
  margin-bottom: 1cm;
  text-align: center;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: rgb(80, 176, 255);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

.z1 {
  color: white;
  list-style-type: circle;
}
.Zajímavostiv {
  text-align: center;
  margin-top: 1cm;
  margin-bottom: 0.5cm;
}
.opnh {
  margin-top: 0.3cm;
  margin-left: 1cm;
  margin-bottom: 0.3cm;
}
.z2 {
  color: white;
  list-style-type: initial;
}
.xcv {
  margin-top: 0.3cm;
  margin-left: 1cm;
  margin-bottom: 0.3cm;
}

ul {
    text-decoration: solid;
        color:white;
        font-size: x-large;
      }
    
      th {
    font-size: x-large;
    
      }
     
       img {
        width: 75%;
        height: 75%;
        border-radius: 5px;
    
     }
    tr{
        font-size: medium;
    }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.prev:hover, .next:hover {
  background-color:skyblue;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 2px;
  width: 2px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bbbbbb;
}


.rectangle {
  width: 200px;
  height: 50px;
  background-color: skyblue;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  align-self:center;
}

.rc {
  width: 10000px;
  height: 85px;
  background-color: rgb(210, 10, 110);
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  align-self:center ;
}

.r {
  width: 10000px;
  height: 50px;
  background-color: rgb(210, 10, 110);
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  align-self:center ;
}